table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

#code {
    background-color: lightgrey;
    padding: 10px;
    border: 1px solid black;
    display: block;
    width: fit-content;
    margin: 10px;
}